.SidebarContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #233D4D;
    text-align: center;
    color: white;
}

.SidebarLinks {
    display: flex;
    flex-direction: column;
    padding: 4em 0;
    color: white;
    text-decoration: none;
}

.SidebarLinks {
    display: flex;
}