.AssignmentsContainer{
    display: flex;
    flex-direction: column;
    background-color: #233D4D;
    justify-content: space-between;
    color: white;
    padding: 1em;
    margin: 4em;

    width: 80%;
    height: 80%;
}